<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <title>Radical. Store</title>
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
     <!-- 3RD PARTY STYLESHEETS -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <script src="https://kit.fontawesome.com/e94a73a4c7.js" crossorigin="anonymous"></script>
     <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap" rel="stylesheet">

     <!-- MY STYLESHEETS -->
     <link rel="stylesheet" href="../static/styles/main.css">
     <link rel="stylesheet" href="../static/styles/nav-container.css">

     <link rel="stylesheet" href="../static/styles//index/categories-section.css">
</head>
<body>
     <!-- SIDE NAVIGATION -->
     <nav class="nav-container">
          <div class="logo-container">
               <span>R.</span>
          </div>
          <div class="categories-container">
               <ul class="categories-list">
                    <li>
                         <button class="category">
                              <img src="../images/t_shirt.svg" alt="">
                         </button>
                    </li>
                    <li>
                         <button class="category">
                              <img src="../images/pants.svg" alt="">
                         </button>
                    </li>
                    <li>
                         <button class="category">
                              <img src="../images/shoes.svg" alt="">
                         </button>
                    </li>
                    <li>
                         <button class="category">
                              <img src="../images/accessories.svg" alt="">
                         </button>
                    </li>
               </ul>
          </div>
          <div class="user-options">
               <ul class="options-list">
                    <li>
                         <button class="option">
                              <img src="../images/cart.svg" alt="">
                         </button>
                    </li>
                    <li>
                         <button class="option">
                              <img src="../images/wishlist.svg" alt="">
                         </button>
                    </li>
                    <li>
                         <button class="option">
                              <img src="../images/account.svg" alt="">
                         </button>
                    </li>
               </ul>
          </div>
     </nav>
     <!-- MAIN HEADER -->
     <div class="main-header">
          <div class="logo-container">
               <h1>Radical Store.</h1>
          </div>
          <div class="search-container">
               <form action="#" class="search-form">
                    <input type="text" name="search-bar" placeholder="search item...">
                    <button type="submit"><i class="fas fa-search"></i></button>
               </form>
          </div>
     </div>
     <!-- MAIN CONTENT -->
     <main class="main-content">
          <section class="categories-section">
               <div class="category-container container">
                    <h2>T-shirts</h2>
                    <div class="procucts-container">
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/tshirt_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Crew neck t-shirt</h3>
                                   <h6>R299.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>                         
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/tshirt_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Crew neck t-shirt</h3>
                                   <h6>R299.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>                         
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/tshirt_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Crew neck t-shirt</h3>
                                   <h6>R299.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/tshirt_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Crew neck t-shirt</h3>
                                   <h6>R299.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>                         
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/tshirt_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Crew neck t-shirt</h3>
                                   <h6>R299.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>                         
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/tshirt_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Crew neck t-shirt</h3>
                                   <h6>R299.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="category-container container">
                    <h2>Pants</h2>
                    <div class="procucts-container">
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/pants_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Denim jeans</h3>
                                   <h6>R399.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>                         
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/pants_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Denim jeans</h3>
                                   <h6>R399.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>                         
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/pants_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Denim jeans</h3>
                                   <h6>R399.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/pants_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Denim jeans</h3>
                                   <h6>R399.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>                         
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/pants_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Denim jeans</h3>
                                   <h6>R399.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>                         
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/pants_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Denim jeans</h3>
                                   <h6>R399.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="category-container container">
                    <h2>Shoes</h2>
                    <div class="procucts-container">
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/shoes_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Denim jeans</h3>
                                   <h6>R399.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>                         
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/shoes_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Denim jeans</h3>
                                   <h6>R399.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>                         
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/shoes_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Denim jeans</h3>
                                   <h6>R399.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/shoes_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Denim jeans</h3>
                                   <h6>R399.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>                         
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/shoes_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Denim jeans</h3>
                                   <h6>R399.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>                         
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/shoes_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Denim jeans</h3>
                                   <h6>R399.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="category-container container">
                    <h2>accessories</h2>
                    <div class="procucts-container">
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/accessories_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Denim jeans</h3>
                                   <h6>R399.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>                         
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/accessories_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Denim jeans</h3>
                                   <h6>R399.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>                         
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/accessories_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Denim jeans</h3>
                                   <h6>R399.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/accessories_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Denim jeans</h3>
                                   <h6>R399.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>                         
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/accessories_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Denim jeans</h3>
                                   <h6>R399.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>                         
                         <div class="product">
                              <div class="product-image">
                                   <img src="../images/accessories_category.jpg" alt="">
                              </div>
                              <div class="product-details">
                                   <h3>Denim jeans</h3>
                                   <h6>R399.99</h6>
                                   <button>Add to cart</button>
                              </div>
                         </div>
                    </div>
               </div>
          </section>          
     </main>
     <script src="./scripts/main.js"></script>
</body>
</html>