.nav-container {
     top: 0;
     left: 0;
     width: 100px;
     height: 100vh;
     display: flex;
     position: fixed;
     text-align: center;
     background: #fff;
     align-items: center;
     flex-direction: column;
     justify-content: space-between;
     box-shadow: 10px 0px 25px -10px rgba(0,0,0,0.05);
}

/* LOGO CONTAINER */
.nav-container .logo-container {
     padding: 50px 0;
}

.nav-container .logo-container span {
     font-size: 40px;
     font-weight: 700;
}

/* CATEGORIES CONTAINER */
.nav-container .categories-container .categories-list li {
     margin-bottom: 10px;
}

.nav-container .categories-container .categories-list li:hover button {
     opacity: 1;
}

.nav-container .categories-container .categories-list li button {
     opacity: .5;
     border: none;
     padding: 10px;
     cursor: pointer;
     background: transparent;
     transition: opacity .5s ease-in-out;
}

/* USER OPTIONS */
.nav-container .user-options {     
     padding: 50px 0;
}
.nav-container .user-options .options-list li button {
     border: none;
     padding: 10px;
     cursor: pointer;
     background: transparent;
     transition: opacity .5s ease-in-out;
}

.nav-container .user-options .options-list li button img {
     width: 20px;
}